.produc{
    background-color: #923;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.contenedor
{
    float: left;
    margin-left: 2%;
    width: 220px;
    height: auto;
}


.contenedor .Produ img
{
    width: 220px;
    height: 230px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    transform: all 1s ease 0s;
}

.contenedor .Produ:hover
{
    transition-duration: 0.4s;
    transform: scale(1.1);
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
    
}

.contenedor
{
    margin-top: 40px;
    height: auto;
}
.contenedor
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}

.contenedor .Produ
{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    background-color: #2D4263;
    border-radius: 20px;
}

.contenedor .info
{
    background-color: #2D4263;
    border-radius: 30px;   
}


.contenedor .info
{
    margin: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: white;
}

.contenedor .info p:first-child
{
    font-size: 25px;
    font-weight: 300;
    color: white;
}

.contenedor .info .Precio
{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.contenedor .info .Precio span
{
    font-size: 17px;
    font-weight: 300;
}

.contenedor .info input[type="button"]{
    background-color: #263143;
    color: gold;
    width: 80px;
    height: 35px;
    border-radius:10px;
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    transform: all 0.3s ease 0s;
}

.contenedor .info input[type="button"]:hover{
    background: white;
    color: black;
    transform: scale(1.1);
}

/*BARRA DE BUSQUEDA*/


.Filtrar
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height:30px;
    padding: 5px;
    
}

@media screen and (max-width:1200px)
{
    .Filtrar
    {
        margin-left: 20%;
    } 
}

.fil select 
{
    float: left;
    width: 230px;
    height: 22px;
    border: none;
    padding: 3px;
    outline: none;
    border-radius:3px 0 0 3px ;
    border: 1px solid #2D4263 ;
    font-size: 12px;
}

.fil option
{
    border: none;
    font-size: 20px;
}

.fil button
{
    background-color: #2D4263;
    width: 100px;
    border: none;
    border-radius:  0 3px 3px 0px;
    color: aliceblue;
}

.buscar
{
    float: left;
}

.B-btn
{
    float: left;
}