@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
    font-size: 20px;
}

body
{
    background-color: #fff56dbb;
}

.content-inicio
{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 180px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}


.content-inicio h4
{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.content-inicio img
{
    width: 150px;
    display: block;
    margin: 20px auto;
    padding-top: 20px;
   
}


.content-inicio .Usuario-img
{
    margin-bottom: 30px;
}


.content-inicio .control:valid
{
    background-color:rgba(111, 192, 194, 0.605);   
}

.content-inicio .control{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.content-inicio p
{
    text-align: center; 
    font-size: 18px;
}

.content-inicio a
{
    color: white;
    text-decoration: none;
}

.content-inicio .inicio-login{
    width: 100%;
    background:white;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 20px;
    border-radius: 20px;
    transform: all 0.3s ease 0s;
}

.content-inicio input[type="submit"]:hover
{
    background: white;
    color: gold;
    transform:scale(1.1);
}