
/*Estilo de las tablas */

@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
    font-size: 20px;
}

.content-RegistroUser
{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 60px;
    border-radius: 4px;
    border-radius: 15px;
    color: white;
    /*box-shadow: 7px 13px 37px #000;*/
}

.contenidoft
{
    background-color: #c52d1f;
    padding: 5px;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
}


.contenidoft .content-RegistroUser
{
    float: left;
    margin-left: 10px;
}

.contenidoft .Tablas-Principal
{
    float: left;
    margin-left: 10%;
    margin-top: 10px;
}


.content-tabla h4
{
    color:black;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.Tablas-Principal .content-tabla .scroll
{
    overflow:auto;
    height: fit-content;
    margin-left: 50px;
    margin-right: 50px;
}

img{
    width: 20%;
    height: 40%;
}

@media screen and (max-width:1500px)
{
    .content-RegistroUser
    {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 20px;
    color: white;
    /*box-shadow: 7px 13px 37px #000;*/
    }   
    .contenidoft .content-RegistroUser
    {
        margin: auto;
        margin-left: 35%;
    }

.contenidoft
{
    background-color: rgb(87, 34, 203);
    padding: 5px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.contenidoft .Tablas-Principal
{
    margin: auto;
    margin-left: 25%;
    margin-top: 10px;
}

.Tablas-Principal .centered-table .scroll::-webkit-scrollbar-thumb
{
    background:red;
}

}



 /* Tabla*/

.centered-table {
    width:200%;
    height: 250px;
    overflow: auto;

}
  
.centered-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: max-content;
    table-layout: fixed;
}
  
.centered-table th,
.centered-table td {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
}
  
.centered-table th
{
    background-color: #24303c;
}

.centered-table td
{
    background-color: #3b4f64;
}

.centered-table input[type="text"]
{
    padding: 1px;
    font-size: 20px;
}

.centered-table button
{
    margin-bottom: 6px;
    width: 80px;
    height: 20px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    background: #24303c;
    color: white;
    cursor: pointer;
    transform: all 0.3s ease 0s;

}

.centered-table button:hover
{
    background: white;
    color:black;
    transform:scale(1.1);

}
  /*botones*/
.submit-button {
    background-color:#fff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color:gold;
}

.content-RegistroUser h4
{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.content-RegistroUser img
{
    width: 150px;
    display: block;
    margin: 20px auto;
    padding-top: 20px;
   
}


.content-RegistroUser .Usuario-img
{
    margin-bottom: 30px;
}

/*
.content.content-RegistroUser .control:valid
{
    background-color:rgba(111, 192, 194, 0.605);  
}

.content-RegistroUser .control:invalid
{
    background-color:rgba(237, 98, 98, 0.605);   
}
*/

.content-RegistroUser .control{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.content-RegistroUser p
{
    text-align: center; 
    font-size: 18px;
}

.content-RegistroUser a
{
    color: white;
    text-decoration: none;
}

.content-RegistroUser .RegistroUser{
    width: 100%;
    background:white;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 20px;
    border-radius: 20px;
    transform: all 0.3s ease 0s;
}

.content-RegistroUser input[type="submit"]:hover
{
    background: white;
    color: gold;
    transform:scale(1.1);
}