@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
    font-size: 20px;
}

.divs {
    margin: 2em 2em 2em 2em; 
}

body
{
    background-color: #fff56dbb;
}

.header
{
    background-color: #1d3019;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;/*TaÃƒÂ±o del encabezado*/
    padding: 5px 5%;
}

.header nav
{
    order: 1;
}

.header .logo img
{
    height: 60px;/*TamaÃƒÂ±o de los componetes del logor*/
    width: auto;
    transform: all 0.3s;
}

.logo img
{
    height: 50px; /*Mover arriba y aabajo el logo*/
    border-radius: 10px;
}

.header .logo{
    cursor: pointer;/*Hace que reaccione al cursors*/
    order: 3;
    margin-left: auto;
}

.header .logo img:hover /*Colocar el cursor sobre images*/
{
    transform: scale(1.2);/*Tiempo de la escala de la imagen*/
}

.header .nav_links,
.overlay .overlay-content li
{
    list-style: none;
}

/*
.overlay .overlay-content li a 
{
    margin-left: 20px;   
}
*/
.header .nav_links li
{
    display: inline-block;
    padding: 0 20px;
}

.header .nav_links li:nth-child(1)
{
    padding: 0 20px 0 0;
}

header .nav_links li:hover,
.overlay a:hover
{
    transform: scale(1.1);

}

.header .nav_links a
{
    font-size: 30px;
    color: #eceff1;
    text-decoration: none;
}

.header .nav_links li a:hover
{
    color: gold;
}

.header .btn
{
    order: 2;
}

.Menu{
    display: none; 
}

.header .btn button,
.header .Menu button
{
    font-size: 20px;
    margin-left: 20px;
    font-weight: 700;
    color: #1b3019;
    padding: 9px 25px;
    background: #eceff1;
    border: none; 
    border-radius: 50px;
    cursor:pointer; 
    transform: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .Menu button:hover
{
    background: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

@media screen and (max-width:400px) {
    .nav_links, .btn
    {
        display: none;
    }

    .Menu
    {
        display: inherit;
    }
}

/*Nav-menu*/

.header a 
{
    text-decoration:none; 
}

.header .overlay
{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33,49,63,.95); 
    overflow: hidden;
    transition: all 0.3s ease 0s; 
}

.overlay-content 
{
    text-decoration: none;
}

.header .overlay .overlay-content
{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.header .overlay a
{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #e2f1f8;
}

.header .overlay a:hover,
.header .overlay a:focus
{
    color: #fff56d;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a
    {
        font-size: 20px;
    }

    .header .overlay .close{
        font-size: 40px;
        top: 15px; 
        right: 35px;
    }
    

}


/*FOOOTER*/
footer
{
    background: #202020;
    color:#e2f1f8;
    width: 100%;
    /*padding: 40px*/
}

.Frm-footer
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.container-body
{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 35px;
}

.colum1 p{
    font-size: 19px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px; 
    margin-left: 20px;
}

.colum2 h1{
    font-size: 23px;
}

.row{
    margin-top: 30px;
    margin-left: 1px;
    margin-bottom: 30px;
    display: flex;
}

.colum2 label
{
    margin-left: 10px;
    margin-top: 9px;
    font-size: 17px;
}
.row img{
    width: 35px;
    height: 36px;
}

.colum3{
    max-width: 400px;
    margin-bottom: 20px;
}

.add{
    margin-left: 40px;
    margin-right: 100px;
    display: flex;
}

.colum3 h1
{
    font-size: 25px;
    margin-left: 30px;
    padding-bottom: 20px;
}

.add img
{
    width: 36px;
    height: 36px;
}

.add label{
    margin-top: 10px;
    margin-left: 10px;
}


.colum4
{
    width: 100%;
    background:black;
}

.colum5{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.Copy
{
    color: #C7C7C7;
}

.Copy a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.informacion a
{
    text-decoration: none;
    color: white;
}


@media screen and (max-width:1500px)
{
    .container-body{
        flex-wrap: wrap;
        padding: 40px;
    }
    .colum2,
    .colum3
    {
        margin-top: 20px;
    }
    .colum5
    {
        display: block;   
    }

    .Copy
    {
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 60px;

    }

    .informacion a
    {
        font-size: 10px;

    }
    .informacion
    {
        margin-bottom: 20px;
        margin-left: 60px;
    }

}
div.Divs{
    display: table-row;
    padding: 1em 1em;
}

/*LOGIN*/

.content-inicio
{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}


.content-inicio h4
{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.content-inicio img
{
    width: 150px;
    display: block;
    margin: 20px auto;
    padding-top: 20px;
   
}


.content-inicio .Usuario-img
{
    margin-bottom: 30px;
}


.content-inicio .control:valid
{
    background-color:rgba(111, 192, 194, 0.605);   
}

.content-inicio .control{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.content-inicio p
{
    text-align: center; 
    font-size: 18px;
}

.content-inicio a
{
    color: white;
    text-decoration: none;
}

.content-inicio .inicio-login{
    width: 100%;
    background:white;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 20px;
    border-radius: 20px;
    transform: all 0.3s ease 0s;
}

.content-inicio input[type="submit"]:hover
{
    background: white;
    color: gold;
    transform:scale(1.1);
}

/*REGISTRO*/

.content-Registro
{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.content-Registro h4
{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.content-Registro .control{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}


.content-Registro .control:valid
{
    background-color:rgba(111, 192, 194, 0.605);   
}


/*
.content-Registro p
{
    text-align: center; 
    font-size: 18px;
}

.content-Registro a
{
    color: white;
    text-decoration: none;
}
*/

.content-Registro .Registro{
    width: 100%;
    background: white;
    border: none;
    padding: 12px;
    color:black;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 50px;
    transform: all 0.3s ease 0s;

}

.content-Registro input[type="submit"]:hover
{
    background: white;
    color: gold;
    transform:scale(1.1);
}